<!DOCTYPE html>
<html>
<head>
  <title>Error Page</title>
  <link rel="stylesheet" type="text/css" href="styleserror.css">
</head>
<body>
  <div class="container">
    <h1>Oops! Something went wrong.</h1>
    <p>We apologize, but an error has occurred while processing your request.</p>
    <% errors.forEach((error, index) => { %>
       <p><%= index+1 %> - <%= error.message %></p>
    <% }); %>


    <a class="button" href="/">home</a>
  </div>
</body>
</html>
