<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styleshome.css">
    <title>JWT PROJECT</title>
    
</head>

<body>
    <header>
        <a href="/signup" class="button">Signup</a>
        <a href="/login" class="button">Login</a>
        <a href="logout" class="button">Logout</a>
    </header>
    <div class="content">
        <p class="centered-text"> Please login to show the private page </p>
    </div>
</body>

</html>
