<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>JWT PROJECT</title>
    
</head>

<body>
    <header>
        <% if(user==null){%>
        <a href="/signup" class="button">Signup</a>
        <a href="/login" class="button">Login</a>
        <%} else{%>
        
        <span>welcome  <%=user.email%>    </span>
        <a href="/logout" class="button">Logout</a>
        <%}%>

    </header>

    <div class="centered-container">
        <p class="centered-text"> Hi! welcome in the private Page , This page for authenticated users</p>
    </div>
</body>

</html>
