 body {
            font-family: Arial, sans-serif;
            font-size:1.1rem;
            margin: 0;
             background-color: #f5f5f5;
        

        }

        header {
            background-color: #333;
            padding: 15px;
            color: #fff;
            display: flex;
            justify-content: flex-end; /* Align buttons to the right */
        }

        a.button {
            display: inline-block;
            margin-left: 10px; /* Add margin between buttons */
            padding: 8px 16px;
            background-color: #555;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }

        a.button:first-child {
            margin-left: 0; /* Remove margin from the first button */
        }

        a.button:hover {
            background-color: #444;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            margin-top: 20px;
        }

        .content a.button {
            padding: 12px 24px;
            background-color:  #4CAF50;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }

        .content a.button:hover {
            background-color: #45a049;
            
        }
